.header-type-shop {
  backdrop-filter: blur(8px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.cheat-shop {
  width: 100%;
  background: #250000;
}
.cheat-shop__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.cheat-shop__inner {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .cheat-shop__inner {
    margin-top: 50px;
  }
}
.cheat-shop__title {
  background-image: linear-gradient(315deg, #ffb344, #ffffff, #ffb344);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 42px;
  border: 1px solid;
  border-image-source: linear-gradient(315deg, #ffb344, #ffffff, #ffb344);
  border-image-slice: 1;
  padding: 1em;
  box-sizing: border-box;
  width: fit-content;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .cheat-shop__title {
    font-size: 30px;
  }
}
.cheat-shop__top {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .cheat-shop__top {
    flex-direction: column;
  }
}
.video-item {
  border: 3px solid;
  border-image-source: linear-gradient(315deg, #ffb344, #ffffff, #ffb344);
  border-image-slice: 1;
  height: 324px;
}
@media (max-width: 1023px) {
  .video-item {
    width: 100%;
    height: 300px;
  }
}
.video-item iframe {
  height: 100%;
}
@media (max-width: 1023px) {
  .video-item iframe {
    width: 100%;
  }
}
.cheat-shop__description {
  width: 50%;
  border: 3px solid;
  border-image-source: linear-gradient(315deg, #ffb344, #ffffff, #ffb344);
  border-image-slice: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
}
@media (max-width: 1024px) {
  .cheat-shop__description {
    padding: 10px;
  }
}
@media (max-width: 1023px) {
  .cheat-shop__description {
    width: 100%;
  }
}
.cheat-shop__text {
  background-image: linear-gradient(315deg, #ffb344, #ffffff, #ffb344);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
}
@media (max-width: 1024px) {
  .cheat-shop__text {
    font-size: large;
  }
}
.cheat-shop__subtitle {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  line-height: 29px;
  text-align: justify;
  max-height: 250px;
  overflow: auto;
}
.cheat-shop__subtitle::-webkit-scrollbar {
  width: 0;
}
@media (max-width: 1024px) {
  .cheat-shop__subtitle {
    line-height: 20px;
  }
}
.cheat-shop-centr {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .cheat-shop-centr {
    flex-direction: column;
  }
}
/*swiper*/

.shop-button-prev,
.shop-button-next {
  width: 50px;
  height: 50px;
  border: 1px solid #cdaa7d;
  border-radius: 50%;
  background: #000000;
  z-index: 20;
}
.shop-button-prev::after,
.shop-button-next::after {
  color: #cdaa7d;
  font-size: 22px;
  z-index: inherit;
}
@media (max-width: 500px) {
  .shop-button-prev,
  .shop-button-next {
    display: none;
  }
}
.cheat-shop-pagination {
  display: none;
}
@media (max-width: 500px) {
  .cheat-shop-pagination {
    display: block;
  }
}
.cheat-shop-swiper {
  width: 500px;
  height: 500px;
  margin: 0;
}
@media (max-width: 1023px) {
  .cheat-shop-swiper {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 500px) {
  .cheat-shop-swiper {
    padding-bottom: 50px;
    box-sizing: border-box;
  }
}
.cheat-shop-slide {
  display: block;
  width: 100%;
  height: 100%;
  border: 3px solid;
  border-image-source: linear-gradient(315deg, #ffb344, #ffffff, #ffb344);
  border-image-slice: 1;
  box-sizing: border-box;
}
.cheat-shop-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet-active {
  background: linear-gradient(315deg, #ffb344, #ffffff, #ffb344);
}
.swiper-pagination-bullet {
  border: 2px solid #ffb344;
}
